*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-color: blue; */
}

.gallery {
    display: flex;
    height: 100%;
  }
  
  .left,
  .right {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 50%;
  }
  
  .inner {
    position: relative;
    width: 100%;
    /* height: 50%; */
    display: flex;
    align-items: center;
    perspective: 500px;
    transform-style: preserve-3d;
  }
  
  .item {
    position: absolute;
    width: 12rem;
    height: 14rem;
    transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 30%;
  }

  
  .left .inner {
    perspective-origin: right center;
  }
  
  .right .inner {
    perspective-origin: left center;
  }
  
  .left .item {
    right: -10rem;
  }
  
  .right .item {
    left: -10rem;
  }
  
  .left .item:nth-child(1) {
    transform: translate3d(-10rem, 0, -4rem);
  }
  
  .left .item:nth-child(2) {
    transform: translate3d(-20rem, 0, -8rem);
  }
  
  .left .item:nth-child(3) {
    transform: translate3d(-30rem, 0, -12rem);
  }
  
  .left .item:nth-child(4) {
    transform: translate3d(-40rem, 0, -16rem);
  }
  
  .left .item:nth-child(5) {
    transform: translate3d(-50rem, 0, -20rem);
  }
  
  .left .item:nth-child(6) {
    transform: translate3d(10rem, 0, -4rem);
  }
  
  .right .item:nth-child(1) {
    transform: translate3d(10rem, 0, -4rem);
  }
  
  .right .item:nth-child(2) {
    transform: translate3d(20rem, 0, -8rem);
  }
  
  .right .item:nth-child(3) {
    transform: translate3d(30rem, 0, -12rem);
  }
  
  .right .item:nth-child(4) {
    transform: translate3d(40rem, 0, -16rem);
  }
  
  .right .item:nth-child(5) {
    transform: translate3d(50rem, 0, -20rem);
  }
  
  .right .item:nth-child(6) {
    transform: translate3d(-10rem, 0, -4rem);
  }
  