.circle{
    height: 24px;
    width: 24px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* background: linear-gradient(90deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b); */
    /* background: linear-gradient(345deg, #1f005c, #3e0075, #67008d, #9a00a6, #be00a7, #d70092, #ef0074, #ff094f, #ff2135, #ff4f3a, #ff8752, #ffb56b); */
    /* -webkit-animation: glowing 1s ease-in-out infinite alternate; */
}
/* 
.circle {
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
  } */

/* @-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 5px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */